@model IEnumerable<ComputerShopll.Models.Product>
<section class="header18 mbr-fullscreen mbr-parallax-background" id="header18-1">
    <div class="mbr-overlay" style="opacity:0.8; background-image: url('~/assets/images/pc-background.jpg'); background-size: cover;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">
                            <strong>Shop</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="content2 cid" id="shop-products">
    <div class="container">
        <h2>Các mặt hàng</h2>
        <div class="row mt-4">
            @foreach (var product in Model)
            {
                <div class="item col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="@product.ImageUrl" alt="@product.Name" width="336" height="224">
                        </div>
                        <div class="item-content">
                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })" class="item-subtitle mt-1 display-7"><strong>@product.Name</strong></a>
                            <p class="mbr-text mt-3 display-7">Giá: @product.Price.ToString("N0")đ</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@product.Id" class="btn btn-primary">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span> them vao gio hang
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
